* {
    margin:0;
    padding: 0;
    text-align: center;

}
h1 {
    background-color: purple;
    color:white;
    height: 5rem;
    line-height: 5rem;
    margin-top: 10px ;
}
.choice{
    height: 200px;
    width:165px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    /* background-color: purple; */
    opacity: 0.7;
    cursor: pointer;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    /* border: 2px solid black; */
    border-radius: 100px;
    margin-top: 40px;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    font-size: 2rem;
    margin-top: 30px;
}
#user-score,
#comp-score{
    font-size: 4rem;
}
.msg-container{
    margin-top: 30px;
}
#msg{
    background-color: purple;
    color: white;
    font-size: 2rem;
    padding: 1rem;
    display: inline;
    border-radius: 1rem;
}